<h1 class="text-center">Adicione o voluntário</h1>

<div class="container">
  <%= simple_form_for @volunteer do |f| %>
    <%= f.input :name %>
    <%= f.submit "Adicionar", class: 'btn btn-primary' %>
  <% end %>
</div>
